@model ProjectExpenseControl.DataAccess.Role

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Perfil</h2>

<h3>¿Está seguro de eliminar el perfil?</h3>
<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TUSR_DES_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TUSR_DES_TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TUSR_FH_CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TUSR_FH_CREATED)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
