@model ProjectExpenseControl.Models.Request

@{
    ProjectExpenseControl.Models.CustomSerializeModel user = (ProjectExpenseControl.Models.CustomSerializeModel)Session["user"];
    ViewBag.Title = "Details";
}

<h2>Detalles de la Solicitud</h2>
@if (ViewBag.CurrentBudget != null)
{
    if (Model.REQ_DES_QUANTITY > ViewBag.CurrentBudget)
    {
        <span class="text-danger">AVISO: Podría sobrepasar el presupuesto</span>
    }
}
else
{
    @: ERROR
}
<div>
    <h4>Solicitud número @Model.REQ_IDE_REQUEST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REQ_IDE_USER)
        </dt>

        <dd>
            @if (user.UserId == Model.REQ_IDE_USER)
            {
                @:Yo
            }
            else
            {
                ProjectExpenseControl.Services.UserRepository u = new ProjectExpenseControl.Services.UserRepository();
                ProjectExpenseControl.DataAccess.User User = u.GetOne(Model.REQ_IDE_USER);
                @: @(User.USR_DES_NAME + " " + User.USR_DES_FIRST_NAME);

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ_DES_TYPE_GASTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ_DES_TYPE_GASTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ_DES_CONCEPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ_DES_CONCEPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ_DES_QUANTITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ_DES_QUANTITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ_DES_OBSERVATIONS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ_DES_OBSERVATIONS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ_IDE_STATUS_APROV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ_IDE_STATUS_APROV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ_FH_CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ_FH_CREATED)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
