@model ProjectExpenseControl.DataAccess.User

<h2>Eliminar Usuario</h2>

<h3>¿Está seguro de eliminar el usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USR_IDE_AREA)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.USR_IDE_AREA)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.USR_DES_POSITION)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.USR_DES_POSITION)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.USR_DES_NAME)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.USR_DES_NAME)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.USR_DES_FIRST_NAME)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.USR_DES_FIRST_NAME)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.USR_DES_LAST_NAME)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.USR_DES_LAST_NAME)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.USR_DES_PASSWORD)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.USR_DES_PASSWORD)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.USR_DES_PHONE)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.USR_DES_PHONE)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.USR_DES_EMAIL)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.USR_DES_EMAIL)
        </dd>
    
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
